@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

* {
    margin: 0;
    padding: 0;
    color: aliceblue;
    font-family: cursive;
}

.container {
    width: 100%;
    height: 100vh;
    background-image:url(./watercolor-4116932_640.webp);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
h1{
    letter-spacing: 5px;
    font-size: 4rem;
    padding:10px 20px;
    text-transform: uppercase;
    border-radius: 20px;
    background-color: rgba(156, 225, 225, 0.75);
    box-shadow: 0 0 45px rgb(40, 36, 36);
    font-family: 'Rubik', sans-serif;
}
.countertimer {
    display: flex;
    margin: 20px;
    border-radius: 20px;
    background-color: rgba(119, 201, 174,0.75);
    box-shadow: 0 0 45px rgb(43, 39, 39);
}

.countertimer>p {
    padding: 2rem;
    font-size: 1.4rem;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Rubik', sans-serif;
}

.countertimer>p>span {
    display: block;
    font-size: 4rem;
}